@import "./Cart.css";

body {
    min-height: 100vh;
    display: grid;
    grid-row: auto 1fr auto;
    /* gap: 2rem; */
    background-image: url("../public/ong-backgroundLow.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    /* flex-direction: column; */
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-inline: 4px;
    gap: 2rem;
}

h1 {
    text-align: center;
    margin: auto;
    font-weight: bold;
}

.listItem {
    margin-bottom: 1.5rem;
    background-color: white;
    border: 1px solid #e5e7eb;
    /* tailwind border-gray-200 */
    transition: box-shadow 0.2s ease-in-out;
}

.listItem:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1.5rem;
    margin: auto;
    justify-items: center;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.active {
    /* color: #2563eb; */
    font-weight: bold;
    border-bottom: 2px solid #2563eb;
}

header.scroll-active {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container-controllers {
    display: flex;
    gap: 4px
}

.filter-group {
    width: 250px;

    &>* {
        width: 100%;
        margin: 0.5rem 0;
    }

    select {
        padding: 4px;
        border-radius: 0.5rem;
    }
}